.item {
  display: block;
  position: absolute;
  cursor: grab;
  z-index: 1;
}

.item:active {
  cursor: grabbing;
}

#inventory-view {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.item-container {
  position: relative;
  width: 60px;
  height: 60px;

  margin-right: 20px;
}

.item.scene-item {
  max-height: 150px;
}

.item.inventory-item {
  width: auto;
  height: 100%;
}

.item.receptacle-item {

}
