.item {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: grab;
  z-index: 1;
}

.item:active {
  cursor: grabbing;
}

#inventory-view {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.item-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 20px;
}

.item.scene-item {
  background: red;
}

.item.inventory-item {
  background: blue;
}

.item.receptacle-item {
  top: 50px;
  left: 50px;
  background: green;
}
